@using Fit.ViewModels.User
@model Fit.ViewModels.User.UserEditViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<h5 class="card-title">Wijzigen gegevens</h5>
@if (Model != null)
{
    <form class="form" asp-controller="User" asp-action="Edit">
        <div class="form-row">
            <div class="form-group col-6">
                <label asp-for="@Model.Email">Email</label>
                <input type="email" class="form-control" placeholder="jan@jansen.com" asp-for="@Model.Email"/>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="@Model.FirstName">Voornaam</label>
                <input type="text" class="form-control" placeholder="Jan" asp-for="@Model.FirstName" />
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.LastName">Achternaam</label>
                <input type="text" class="form-control" placeholder="Jansen" asp-for="@Model.LastName" />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label sp-for="@Model.BirthDate">GeboorteDatum</label>
                <input type="date" class="form-control" placeholder="01-01-1990" asp-for="@Model.BirthDate" />
            </div>
            <div class="form-group col-md-6">
                <label asp-for="@Model.Length">Lengte</label>
                <input type="number" class="form-control" placeholder="1.70" asp-for="@Model.Length" />
            </div>
        </div>
        @if (User.IsInRole("Admin"))
        {
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="@Model.Blocked">Status</label>
                    <select class="form-control" asp-for="@Model.Blocked">
                        <option selected="@(!Model.Blocked)" value="false">Actief</option>
                        <option selected="@(Model.Blocked)" value="true">Geblokeerd</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="@Model.RightId">Recht</label>
                    <select id="right" class="form-control" asp-for="@Model.RightId" asp-items="Model.Rights"></select>
                </div>
            </div>
        }
        <button type="submit" class="btn btn-primary">Wijzig</button>
    </form>
    }
else
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Geen Gebruiker</strong> sorry er is geen gebruiker gevonden!
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}