@using Enum
@model Fit.ViewModels.Article.ArticleListViewModel;

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="card" id="Log">
    <div class="card-body">
        <h5 class="card-title">Logs</h5>
        @ViewData["message"]
        <form asp-controller="Log" asp-action="AddFoodlog" method="post">
            <input type="hidden" id="ArticleId" name="ArticleId" value="">
            <div class="form-group">
                <label for="ArticleName">Article</label>
                <input class="form-control" type="text" placeholder="Kies een uw consumptie" id="ArticleName" name="ArticleName" readonly>
            </div>
            <div class="row">
                <div class="form-group col-7">
                    <label for="Amount">Aantal</label>
                    <input class="form-control" type="number" id="Amount" name="Amount">
                </div>
                <div class="form-group col-5">
                    <label for="Unit">Eenheid</label>
                    <select id="Unit" class="form-control" name="Unit">
                        <option value="@Unit.Stuks" selected>@Unit.Stuks</option>
                        <option value="@Unit.Gram">@Unit.Gram</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-6">
                    <label for="Date">Datum</label>
                    <input class="form-control" type="date" id="Date" name="Date">
                </div>
                <div class="form-group col-6">
                    <label for="Time">Tijd</label>
                    <input class="form-control" type="time" id="Time" name="Time">
                </div>
            </div>
            <button type="submit" class="btn btn-success">Log</button>
        </form>
    </div>
</div>

<div class="card mt-2">
    <div class="card-body">
        <div class="form-group row">
            <label for="colFormLabel" class="col-sm-2 col-form-label">Zoek:</label>
            <div class="col-sm-10">
                <input class="form-control "type="text" id="myFilter" onkeyup="Search()"/>
            </div>
        </div>
    </div>
</div>
<div class="card-columns mt-5" id="myItems">
    @foreach (var article in Model.AllArticles)
    {
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <h5 class="card-title">@article.Name</h5>
                        <p class="card-text">Calorieën: @article.Calories</p>
                    </div>                   
                    @if (User.IsInRole("Admin"))
                    {
                        <div class="col">
                            <a class="btn-sm btn-warning" asp-controller="Article" asp-action="Edit" asp-route-id="@article.Id">Wijzig</a>
                            <a class="btn-sm btn-danger" asp-controller="Article" asp-action="Delete" asp-route-id="@article.Id">Verwijder</a>
                        </div>
                    }         
                </div>
                
               
                @if (article.NutrientIntakes != null)
                {
                    <div class="table-responsive-md">
                        <table class="table table-sm mt-2">
                            <thead>
                            <tr>
                                <th>Voedingsstof</th>
                                <th>Aantal</th>
                                @if (User.IsInRole("Admin"))
                                {
                                    <th>Wijzig</th>
                                }
                            </tr>
                            </thead>
                            <tbody>
    
                            @foreach (var nutrientIntake in article.NutrientIntakes)
                            {
                                <tr>
                                    <th>@nutrientIntake.Nutrient.Name</th>
                                    <td>@nutrientIntake.Amount</td>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <td class="row">
                                            <a class="col btn btn-warning btn-sm" asp-action="EditNutrientIntake" asp-controller="Article" asp-route-articleId="@article.Id" asp-route-nutrientId="@nutrientIntake.Nutrient.Id">Wijzig</a>
                                            <a class="col btn btn-danger btn-sm" asp-action="DeleteNutrientIntake" asp-controller="Article" asp-route-articleId="@article.Id" asp-route-nutrientId="@nutrientIntake.Nutrient.Id">Verwijder</a>
                                        </td>
                                    }
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <div class="alert-info mt-2 mb-2">Geen voedingstoffen gevonden</div>
                }
                @if (User.IsInRole("Admin"))
                {
                    <a class="btn btn-success btn-sm" asp-action="AddNutrientIntake" asp-controller="Article" asp-route-id="@article.Id">Voeg Toe</a>
                }
                <button class="btn btn-success btn-sm" onclick="Add(@article.Id, '@article.Name')">Log</button>
            
            </div>
        </div>
    }
    <p id="demo"></p>
</div>
<script>
    var clicks = 0;
    var lastId = 0;
    var articles = [];
    
    function Search() {
        var input, filter, cards, cardContainer, h5, title, i;
        input = document.getElementById("myFilter");

        filter = input.value.toUpperCase();
        cardContainer = document.getElementById("myItems");
        cards = cardContainer.getElementsByClassName("card");
        for (i = 0; i < cards.length; i++) {
            title = cards[i].querySelector(".card-body h5.card-title");
            if (title.innerText.toUpperCase().indexOf(filter) > -1) {
                cards[i].style.display = "";
            } else {
                cards[i].style.display = "none";
            }
        }
    }
    function Add(id, name) {
        document.getElementById("Log").classList.remove("d-none")
        clicks++;
        if (lastId != id) {
            lastId = id;
            this.clicks = 1;
        }
        
        document.getElementById("ArticleId").value = id;
        document.getElementById("ArticleName").value = name;               
        document.getElementById("Amount").value = clicks;
        
        var date = new Date();
        var currentDate = date.toISOString().slice(0,10);
        
        var h = date.getHours()
        if (h < 10) {
            h = "0" + h;
        }
        var m = date.getMinutes()
        if (m < 10) {
            m = "0" + m;
        }
        var currentTime = h + ':' + m;
        
        document.getElementById("Date").value = currentDate;
        document.getElementById("Time").value = currentTime;
    }
</script>