@using Fit.ViewModels.Article
@model Fit.ViewModels.Log.LogListViewModel;

@{
    ViewBag.Title = "Dashboard";
    Layout = "_Layout";
}

        
        
 
                
        @if (Model.FoodlogsBreakfast.Any())
        {
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Ontbijt</h5>
                    @foreach (var breakfast in Model.FoodlogsBreakfast)
                    {
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">@breakfast.Article.Name</h5>
                                    <small>@breakfast.DateTime.Hour:@breakfast.DateTime.Minute</small>
                                </div>
                                <p class="mb-1">U heeft om @breakfast.DateTime.Hour:@breakfast.DateTime.Minute geloged dat u @breakfast.Amount @breakfast.Unit @breakfast.Article.Name heeft gegeten</p>
                            </a>
                        </div>
                    } 
                </div>
            </div>
        }
        
        
        @if (Model.FoodlogsLunch.Any())
        {
            
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Lunch</h5>
                    @foreach (var lunch in Model.FoodlogsLunch)
                    {
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">@lunch.Article.Name</h5>
                                    <small>@lunch.DateTime.Hour:@lunch.DateTime.Minute</small>
                                </div>
                                <p class="mb-1">U heeft om @lunch.DateTime.Hour:@lunch.DateTime.Minute geloged dat u @lunch.Amount @lunch.Unit @lunch.Article.Name heeft gegeten</p>
                                <small>calorien: @lunch.Article.Calories</small>
                                @lunch.Article.Nutrients
                                @foreach (var nutrient in lunch.Article.Nutrients)
                                {
                                    @nutrient.Nutrient.Name
                                }
                            </a>
                        </div>
                    }
                </div>    
            </div>
        }
        
        
        
        @if (Model.FoodlogsSupper.Any())
        {
            
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Avondeten</h5>
                    @foreach (var supper in Model.FoodlogsSupper)
                    {
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">@supper.Article.Name</h5>
                                    <small>@supper.DateTime.Hour:@supper.DateTime.Minute</small>
                                </div>
                                <p class="mb-1">U heeft om @supper.DateTime.Hour:@supper.DateTime.Minute geloged dat u @supper.Amount @supper.Unit @supper.Article.Name heeft gegeten</p>
                            </a>
                        </div>
                    }
                </div>
            </div>
        }
                
        