@model Fit.ViewModels.Article.ArticleAddViewModel;
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<div class="card">
    <div class="card-body">
        <form class="form" asp-controller="Article" asp-action="Add">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="@Model.Name">Article Naam</label>
                    <input type="text" class="form-control" placeholder="First name" asp-for="@Model.Name" required>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="@Model.Calories">Calorieën</label>
                    <input type="number" class="form-control" placeholder="First name" asp-for="@Model.Calories" required>
                </div>
                <ul class="list-group">
                @foreach (var nutrient in Model.Nutrients)
                {                  
                    <li class="list-group-item active">@nutrient.</li>              
                }
                </ul>
            </div>
        </form>

    </div>
</div>
