@model Fit.ViewModels.Article.ArticleEditViewModel;
@{
    ViewBag.Title = "Wijzig Artikel";
    Layout = "_Layout";
}
<div class="card">
    <div class="card-body">
        
        
        <span class="has-error">@ViewData["Error"]</span>


        <form class="form" asp-controller="Article" asp-action="Edit">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="@Model.Name">Artikel Naam</label>
                    <input type="text" class="form-control" placeholder="First name" asp-for="@Model.Name" value="@Model.Name" required>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="@Model.Calories">Calorieën</label>
                    <input type="number" class="form-control" placeholder="First name" asp-for="@Model.Calories" value="@Model.Calories" required>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Wijzig</button>
        </form>
        
        
    </div>
</div>